PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/swingrush
JWT_SECRET=swingrush_secret_key_2025

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@gmail.com
EMAIL_PASS=xxxx_xxxx_xxxx_xxxx
EMAIL_FROM="SwingRush <your@gmail.com>"

CLIENT_URL=http://localhost:5000